@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body{
    margin: 50px 40px 100px 40px;
    padding: 0;
    font-family: 'Nunito',  sans-serif;
    position:relative; 
}
/*top sections*/
h1{
    display: inline;
    font-size: 40px;
}

.buttons-top{
    display: inline;
    position:absolute;
    right: 30px;
    top: 20px;
}
.buttons-top button, .buttons-top input{
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 3px 10px 3px 10px;
    font-family: 'Nunito',  sans-serif;
    margin-left: 10px;
    box-shadow: 5px 5px;
}

/*middle section*/
.middle{
    margin-top: 50px;
}
    /*index.html style*/
#indexForm{
    margin-bottom: 30px;
}    
.index-middle{
    margin: 20px 0 30px 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-between;  */
    align-content: flex-end; 
    gap:10px; 

}
.prod-content{
    height: 200px;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding-top: 20px;

}
.prod-desc{
    font-weight: bold;
    margin:5px 0 0 0;
}
.prod-content input{
    margin-right: 80%;
    margin-bottom: 0;
}

/* form styles*/
input{
    border-color: black;
    border-style: solid;
}
select{
    border-color: black;
    border-style: solid;
    font-family: 'Nunito',  sans-serif;
}
.input-div{
    margin-bottom: 20px;
}
.input-div input{
    position: absolute;
    left: 160px;
    width: 200px;
}
.err-msg{
    display: inline;
    position: absolute;
    color:red;
    left: 400px;
    margin-top: 0;
}
.dropdown {
    margin-top: 20px;
}
.dropdown label{
    margin-right: 80px;
}
.dropdown select {
    width: 150px;
}
.form-change {
    margin-top: 40px;
}
.desc{
    font-size: 13px;
}
#disc-div, #furniture-div, #book-div{
    display: none;
}


/*bottom section*/
.bottom{
    position: fixed;
    bottom:0px;
    height: 100px;
    /*width:100%;*/
    right:40px;
    left: 40px;
    background-color: white;
    text-align: center;
    overflow: hidden;
}
.bottom p {
    margin-top: 30px;
}
.line{
    background-color: black;
    height:3px;
    margin-top: 20px;
}

